.logo{
    width: 500px;
    height: 500px;
    margin-left: -48px;
    margin-top: 97px;
}
.button-connecter-vous{
    width: 81%;
    margin-left: 0%;
    margin-top: 6%;
    --background: #Be8400;
    height: 44px;
}
.creer-compte{
    width: 82%;
    margin-left: 0%;
    margin-top: 3%;
    --background: black;
    color: white;
    border: 2px solid;
    border-radius: 5px;
    border-color: #Be8400;
}
.bysigning{
    white-space: nowrap;
    color: gray;
    margin-top: 50%;
    margin-left: 7%;
    display: flex;
    justify-content: center;
    font-size: small;
}
.termsservice{
    color: white;
    margin-top: 11%;
    margin-left: -53%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
}